@import 'node_modules/ember-frost-theme/scss/frost-theme';

$frost-login-width: 500px;
$frost-login-separator-width: 5px;
$frost-login-padding: 40px;

.frost-login {
  width:$frost-login-width;
  margin: 0 auto;
  min-width:$frost-login-width;
}

.frost-login .panel {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  box-shadow: 0 4px 35px 0 rgba($frost-color-grey-1, 0.15);
}

.frost-login .branding-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: $frost-login-separator-width;
  height: 100%;
  overflow: hidden;
}

.frost-login .logo {
  margin: 30px 0 0 30px;
  height: 60px;
}

.frost-login .product {
  margin: 20px 0 0 40px;
  font-size: $frost-font-l;
  letter-spacing: 4px;
  color: $frost-color-grey-4;

  .version {
    font-size: $frost-font-s;
    letter-spacing: 0;
    color: $frost-color-grey-6;
  }
}

.frost-login .frost-bunsen-form {
  margin: 40px 0 0 40px;
  width: $frost-login-width - $frost-login-separator-width - $frost-login-padding*2;

  .frost-field {
    input {
      width: 100%;
    }
  }
}

.frost-login .frost-bunsen-form.hasProduct {
  margin-top: 20px;
}

.frost-login .footer {
  margin-top: 15px;
  width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

// Use standard button?
//.frost-login .frost-button.login {
//  width: 180px;
//  height: 50px;
//  border-radius: 0;
//  color: $frost-color-white;
//  text-decoration: none;
//}

.frost-login .disclaimer {
  width: $frost-login-width;
  padding-top: 15px;
  line-height: 20px;
  font-size: $frost-font-xs;
  color: $frost-color-grey-6;
}

.frost-login .submission-error {
  position: absolute;
  left: 40px;
  color: $frost-color-danger;
}

.frost-login .input-error .frost-text.outline {
  border: 1px solid $frost-color-danger;
}
