<div class="dummy-header">
  {{#frost-link 'blue-planet' class='medium secondary'}}
      Blue Planet
  {{/frost-link}}
  {{#frost-link 'blue-planet-custom' class='medium secondary'}}
      Blue Planet Custom
  {{/frost-link}}
</div>

<div class="dummy-body">
  {{outlet}}
</div>
