<div class="dummy-header">
  {{#frost-link 'default' class='medium secondary'}}
      Company default
  {{/frost-link}}
  {{#frost-link 'company-custom' class='medium secondary'}}
      Company custom
  {{/frost-link}}
</div>

<div class="dummy-body">
  {{outlet}}
</div>
